[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Tesis-project/client-gateway.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Tesis-project/auth-ms.git
[submodule "user-ms"]
	path = user-ms
	url = https://github.com/Tesis-project/user-ms.git
